$primary: #886F68;

$text-color--light:#000;
$text-color--dark:#fff;


$main-el-background: #34495e;
$main-el-background-hover: #34495e;
$on-main-color: #fff;

$info-el-background: #3498db;
$info-el-background-hover: #2980b9;
$on-info-color: #fff;

$warning-el-background: #dacb5b;
$warning-el-background-hover: #9b9239;
$on-warning-color: #fff;

$success-el-background: #2ecc71;
$success-el-background-hover: #27ae60;
$on-success-color: #fff;


$delete-el-background: #e74c3c;
$delete-el-background-hover: #c0392b;
$on-delete-color: #fff;



$on-primary: #fff;
$secondary: #d9ebff;
$on-secondary:#314f6f;
$delete: #c63737;
$on-delete: #fff;
$delete-secondary: #fadadd;
$bascet-hover: #f9c5c6;
$white: #ffffff;
$black: #000000;
$secondary-text: #c63737;
$striped: #f7f7f7;

$primary-active: #597eaa;
$secondary-active: #99c3ed;
$outline-active: #ececea;
$delete-active: #d46969;
$delete-secondary-active: #f8afaf;

$primary-hover: #274361;
$secondary-hover: #c0dcff;
$outline-hover: #ececea;
$delete-hover: #cd5050;
$delete-secondary-hover: #fcc9ce;
$border-table: #d9d9d9;
$disabled-text: #aaaaab;
$paginator: #f9fafb;
$radio-border: #717177;
$locked: #c6c6c6;
:export {
  primary: $primary;
  on-primary: $on-primary;
  secondary: $secondary;
  on-secondary:$on-secondary;
  delete: $delete;
  on-delete: $on-delete;
  delete-secondary: #fadadd;
  bascet-hover: #f9c5c6;
  white: #ffffff;
  black: #000000;
  secondary-text: #c63737;
  striped: #f7f7f7;

  primary-active: #597eaa;
  secondary-active: #99c3ed;
  delete-active: #d46969;
  delete-secondary-active: #f8afaf;

  primary-hover: #274361;
  secondary-hover: #c0dcff;
  outline-hover: #ececea;
  delete-hover: #cd5050;
  delete-secondary-hover: #f8afaf;
  border-table: #d9d9d9;
  disabled-text: #aaaaab;
  paginator: #f9fafb;
  radio-border: #717177;
  locked: #c6c6c6;
}