@use "../../../palette" as palette;
@use "../../../fonts" as fonts;
@use "../../../sizes" as sizes;

.btn {
  border: none;
  color: inherit;
  background: none;
  cursor: pointer;
  display: inline-block;
  margin: 8px;
  border-radius: sizes.$button_Border_radius ;
  @include fonts.font;
  text-transform: uppercase;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  &:after{
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
}


.btn-small{
  padding: sizes.$small_button_Padding ;
  min-width: sizes.$button_Min_width ;
}
.btn-medium{
  padding: sizes.$medium_button_Padding ;
  min-width: sizes.$button_Min_width ;
}
.btn-large{
  padding: sizes.$large_button_Padding ;
  min-width: sizes.$button_Min_width ;
}


/* Icon separator */
.btn-sep {
  padding: 25px 60px 25px 120px;
}

.btn-sep:before {
  background: rgba(0,0,0,0.15);
}
/* Button Main*/
.btn-main {
  background: palette.$main-el-background;
  color: palette.$on-main-color;
  &:hover{
    background: palette.$main-el-background-hover;

  }
  &:active{
    background: palette.$main-el-background-hover;
    top: 2px;

  }

}



/* Button info */
.btn-info {
  background: palette.$info-el-background;
  color: palette.$on-info-color;
  &:hover {
    background: palette.$info-el-background-hover;
  }
  &:active {
    background: palette.$info-el-background-hover;
    top: 2px;
  }
}



/* Button warning */
.btn-warning {
  background: palette.$warning-el-background;
  color: palette.$on-warning-color;
  &:hover {
    background: palette.$warning-el-background-hover;
  }
  &:active {
    background: palette.$warning-el-background-hover;
    top: 2px;
  }
}

/* Button success */
.btn-success {
  background: palette.$success-el-background;
  color: palette.$on-success-color;
  &:hover {
    background: palette.$success-el-background-hover;
  }
  &:active {
    background: palette.$success-el-background-hover;
    top: 2px;
  }
}
/* Button delete */
.btn-delete {
  background: palette.$delete-el-background;
  color: palette.$on-delete-color;
  &:hover {
    background: palette.$delete-el-background-hover;
  }
  &:active {
    background: palette.$delete-el-background-hover;
    top: 2px;
  }
}











/* Icons */

.icon-cart:before {
  content: "\f07a";
}

.icon-heart:before {
  content: "\f55a";
}

.icon-info:before {
  content: "\f05a";
}

