@use "../../../fonts" as fonts;

.tooltip{
  position: fixed;
  font-weight: 500;
  letter-spacing: 0.02em;
  pointer-events: none;
  padding: 7px 10px;
  border-radius: 4px;
  z-index: 99999;
  display:inline-block;
  word-wrap: normal;
  word-break: normal;
  max-width: 200px;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  @include fonts.font
}
.tooltipShow{
  opacity: 1;
}
.arrow{
  position: fixed;
  border-radius: 3px;

  }
.top-light {
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);

  &:before, &:after {
    top: 100%;
    left: 50%;
    content: '';
    position: fixed;
    margin-top: -9px;
    border: 9px solid transparent;
    border-top-color: rgba(0,0,0,.9);


  }
}
.top-dark {
  transform: translateX(-50%);

  &:before, &:after {
    content: '';
    position: fixed;
    margin-top: -9px;
    border: 9px solid transparent;
    border-top-color: white;
  }
}
.bottom-light{
    transform:translateX(50%);
    &:before ,&:after{
      content: '';
      position: fixed;
      border: 9px solid transparent;
      margin-top: -9px;
        border-bottom-color: rgba(0,0,0,.9);
    }
}
.bottom-dark{
    transform:translateX(50%);
    &:before ,&:after{
      content: '';
      position: fixed;
      border: 9px solid transparent;
      margin-top: -9px;
      border-bottom-color: white;

    }
}
.right-light{
    transform:translateY(-50%);
    &:before ,&:after{
      content: '';
      position: fixed;
      border: 9px solid transparent;
      margin-top: -9px;
      border-right-color: rgba(0,0,0,.9);

    }
}
.right-dark{
    transform:translateY(-50%);
    &:before ,&:after{
      content: '';
      position: fixed;
      border: 9px solid transparent;
      margin-top: -9px;
      border-right-color: white;

    }
}
  .left-light{
    transform:translateY(-50%);
    &:before ,&:after{
      content: '';
      position: fixed;
      border: 9px solid transparent;
      margin-top: -9px;
      border-left-color: rgba(0,0,0,.9);

    }
  }
.left-dark{
    transform:translateY(-50%);
    &:before ,&:after{
      content: '';
      position: fixed;
      border: 9px solid transparent;
      margin-top: -9px;
      border-left-color: white;

    }
  }








.light{
  background: rgba(0,0,0,.9);
  color: white;
}
.dark{
  background:  white;
  color:rgba(0,0,0,.9);
}
